{% extends "base.html" %}

{% block content %}
	<h1 style="text-align:center">EC700 Delta 3 Home Page</h1>
	<br>
	<div class="container" style="text-align: center">
		<form action="strings.html">
			<button class="btn btn-default" type="submit">Strings!</button>
		</form>
		<br>
		<form action="numbers.html">
			<button class="btn btn-default" type="submit">Numbers!</button>
		</form>
		<br>
		<form action="login.html">
			<button class="btn btn-default" type="submit">Login</button>
		</form>
		<br>
		<form action="register.html">
			<button class="btn btn-default" type="submit">Register</button>
		</form>
		<br>
		<form action="search.html">
			<button class="btn btn-default" type="submit">Search</button>
		</form>
		<br>
		<form action="comments.html">
			<button class="btn btn-default" type="submit">Leave Comment</button>
		</form>
		<br>
		<form action="about.html">
			<button class="btn btn-default" type="submit">About</button>
		</form>
		<br>
	</div>
{% endblock %}